<!doctype html>
<html lang="en">
    {% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{%static 'pages/form.css' %}">
</head>
<body class="body">
<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                <li class="nav__item nav__item_disabled"><a href="/" class="nav__link link">Рецепты</a></li>
            </ul>
            <ul class="nav__items list">
                <li class="nav__item"><a href="/accounts/logout/" class="nav__link link">Выход</a></li>
            </ul>
        </div>
    </nav>
</header>
    

<main class="main container">
    <p>Вы успешно сменили пароль</p>  
<a href="{% url 'index'%}">Вернуться на главную.</a>
</body>
</main>
    {% include 'Footer.html' %}
</html>