{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Рецепты {{ author.username }}</title>
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
</head>
<body class="body">
        <header class="header">
            <nav class="nav">
                <div class="nav__container container">
                    {% if user.is_authenticated %}
                    <ul class="nav__items list">
                        <li class="nav__item nav__item_active"><a href="/" class="nav__link link">Рецепты</a></li>
                        <li class="nav__item"><a href="/follow/" class="nav__link link">Мои подписки</a></li>
                        <li class="nav__item"><a href="/newrecipe/" class="nav__link link">Создать рецепт</a></li>
                        <li class="nav__item"><a href="/favorite/" class="nav__link link">Избранное</a></li>
                        <li class="nav__item"><a href="/shop/" class="nav__link link">Список покупок</a><span class="badge badge_style_blue nav__badge" id="counter">{{ cnt }}</span></li>
                    </ul>
                    <ul class="nav__items list">
                        <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
                        <li class="nav__item"><a href="/accounts/logout/" class="nav__link link">Выход</a></li>
                    </ul>
                        {% else %}
                            <ul class="nav__items list">
                                <li class="nav__item nav__item_active"><a href="/" class="nav__link link">Рецепты</a></li>
                            </ul>
                            <ul class="nav__items list">
                                <li class="nav__item"><a href="/accounts/login" class="nav__link link">Войти</a></li>
                                <li class="nav__item"><a href="/singup/" class="button button_style_blue">Создать аккаунт</a></li>
                            </ul>
                        {% endif %}
                </div>
            </nav>
    </header>
<body>
    {% csrf_token %}
    <main class="main container">
        
            <h1 class="main__title">Рецепты {{ author.username }}</h1>
            
            {% if user.is_authenticated %}
                <div class="author-subscribe" data-author="{{ author.id }}"></div>
                        {% if follow == False %}
                        <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_auto"
                            name="subscribe" data-out>Подписаться на автора</button></p>
                        {% else %}
                        <button class="button button_style_light-blue button_size_auto button_style_light-blue-outline"
                        name="subscribe"><span class="icon-check button__icon"></span> Отписаться от автора</button>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <ul class="tags">
                <li class="tags__item">
                    <a id="breakfast" class="tags__checkbox tags__checkbox_style_orange {% if 'breakfast' in tags %} tags__checkbox_active {% endif %}" href="{% if 'breakfast' in tags %}?tags={{ tags| cut:'breakfast'}}{% else %}?tags={{ tags| add:'breakfast' }}{% endif %}"></a>
                    <span class="tags__label">Завтрак</span>
                </li>
                <li class="tags__item">
                    <a id="lunch" class="tags__checkbox tags__checkbox_style_green {% if 'lunch' in tags %} tags__checkbox_active {% endif %}" href="{% if 'lunch' in tags %}?tags={{ tags| cut:'lunch'}}{% else %}?tags={{ tags| add:'lunch' }}{% endif %}"></a>
                    <span for="lunch" class="tags__label">Обед</span>
                </li>
                <li class="tags__item">
                    <a id="dinner" class="tags__checkbox tags__checkbox_style_purple {% if 'dinner' in tags %} tags__checkbox_active {% endif %}" href="{% if 'dinner' in tags %}?tags={{ tags| cut:'dinner'}}{% else %}?tags={{ tags| add:'dinner' }}{% endif %}"></a>
                    <label for="dinner" class="tags__label">Ужин</label>
                </li>
            </ul>
        </div>
        <div class="card-list">
            {% for card in page %}

                <div class="card" data-id={{ card.id }}>
                        {% load thumbnail %}
                        {% thumbnail card.picture "500x500" crop="center" upscale=True as im %}
                        <a href="/recipe/{{card.id}}" class="link" target="_blank"><img src="{{ im.url }}" alt="Какой-то текст" class="card__image"></a>
                        {% empty %}
                            
                        {% endthumbnail %}
                        <div class="card__body">
                            <a class="card__title link" href="/recipe/{{card.id}}" target="_blank">{{ card.name }}</a>
                            <ul class="card__items">
                                {% ifequal card.tag_o True %}
                                <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
                                {% endifequal %}
                                {% ifequal card.tag_z True %}
                                <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                                {% endifequal %}
                                {% ifequal card.tag_y True %}
                                <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
                                {% endifequal %}
                            </ul>
                            <div class="card__items card__items_column">
                                <p class="card__text"><span class="icon-time"></span> {{ card.time }}</p>
                                <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ card.author}}</a></p>
                            </div>
                        </div>
                        <div class="card__footer">
                            {% if card.id in shop %}
                            <button class="button button_style_light-blue-outline"name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button>
                            {% else %}
                            <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                            {% endif %}
                            {% if card.id in fav %}
                            <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
                            {% else %}
                            <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
                            {% endif %}
                        </div>
                </div>
            {% endfor %}    
            </div>
            {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator%}
            {% endif %}
        </main>
        <footer class="footer">
            {% include 'Footer.html' %}
        </footer>

        <script src="{% static 'js/config/config.js' %}"></script>
        <script src="{% static 'js/components/MainCards.js' %}"></script>
        
        <script src="{% static 'js/components/Purchases.js' %}"></script>
        <script src="{% static 'js/components/Favorites.js' %}"></script>
        <script src="{% static 'js/components/Subscribe.js' %}"></script>
        
        <script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
        <script src="{% static 'js/components/Header.js' %}"></script>
        
        <script src="{% static 'js/api/Api.js' %}"></script>
        <script src="{% static 'authorRecipe.js' %}"></script>
    
</body>
</html>
