{% load static %}
<head><link rel="stylesheet" href="{% static 'pages/index.css' %}"></head>

<div class="card-list">
    <div class="card" data-id="120">
        {% load thumbnail %}
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <!-- <a href="#" class="link" target="_blank"><img src="{{ im.url }"  class="card__image">ytg</a> -->
            <img class="card-img" src="{{ im.url }}">
        {% endthumbnail %}
    
        <div class="card__body">
            <a class="card__title link" href="#" target="_blank">{{ recipe.name }}</a>
            <ul class="card__items">
                {% ifequal recipe.tag_o True %}
                <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
                {% endifequal %}
                {% ifequal recipe.tag_z True %}
                <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                {% endifequal %}
                {% ifequal recipe.tag_y True %}
                <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
                {% endifequal %}
            </ul>
            <div class="card__items card__items_column">
                <p class="card__text"><span class="icon-time"></span> {{ recipe.time }}</p>
                <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ recipe.author}}</a></p>
            </div>
        </div>
        <div class="card__footer">
            <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
            <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
        </div>
    </div>
</div>